<!-- This game is implemented from Elzero web school tuturial * God bless him *-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <title>Memory game</title>
</head>
<body>
    <div class="control-buttons">
        <span> Start game</span>
    </div>
    <div class="info-container">
        <!-- Player's name goes in here-->
        <div class="name">
            Hello: <span> </span>
        </div>
        <!-- Score-->
        <div class="tries">
            Wrong tries: <span> 0</span>
        </div>
    </div>
    <div class="memory-game-blocks">
        <div class="game-block" data-house="stark">
            <div class="face front"></div>
            <div class="face back">
                <img src="../images/Stark-icon.png" alt="">
            </div>
        </div>
        <div class="game-block" data-house="stark">
            <div class="face front"></div>
            <div class="face back">
                <img src="../images/Stark-icon.png" alt="">
            </div>
        </div>

        <div class="game-block" data-house="baratheon">
            <div class="face front"></div>
            <div class="face back">
                <img src="../images/Baratheon-icon.png" alt="">
            </div>
        </div>
        <div class="game-block" data-house="baratheon">
            <div class="face front"></div>
            <div class="face back">
                <img src="../images/Baratheon-icon.png" alt="">
            </div>
        </div>
        <div class="game-block" data-house="greyjoy">
            <div class="face front"></div>
            <div class="face back">
                <img src="../images/Greyjoy-icon.png" alt="">
            </div>
        </div>
        <div class="game-block" data-house="greyjoy">
            <div class="face front"></div>
            <div class="face back">
                <img src="../images/Greyjoy-icon.png" alt="">
            </div>
        </div>
        <div class="game-block" data-house="lannister">
            <div class="face front"></div>
            <div class="face back">
                <img src="../images/Lannister-icon.png" alt="">
            </div>
        </div>
        <div class="game-block" data-house="lannister">
            <div class="face front"></div>
            <div class="face back">
                <img src="../images/Lannister-icon.png" alt="">
            </div>
        </div>

        <div class="game-block" data-house="targaryen">
            <div class="face front"></div>
            <div class="face back">
                <img src="../images/Targaryen-icon.png" alt="">
            </div>
        </div>
        <div class="game-block" data-house="targaryen">
            <div class="face front"></div>
            <div class="face back">
                <img src="../images/Targaryen-icon.png" alt="">
            </div>
        </div>
        <div class="game-block" data-house="tully">
            <div class="face front"></div>
            <div class="face back">
                <img src="../images/Tully-icon.png" alt="">
            </div>
        </div>
        <div class="game-block" data-house="tully">
            <div class="face front"></div>
            <div class="face back">
                <img src="../images/Tully-icon.png" alt="">
            </div>
        </div>

    </div>
    <audio controls autoplay>
        <source src="../images/Opening Theme - Game of Thrones.mp3" type="audio/mpeg">
    </audio>
<script src="../main.js"> </script>
</body>
</html>